<div class="panel panel-default" style="margin-top: 2.5%; margin-left: 18%; margin-right: 18%">
  <div class="panel-heading">Academic Education</div>
  <div class="panel-body">
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">University of Bamberg</div>
      <div class="panel-body">
        <table>
          <tbody>
            <tr>
              <td>
                Applied Computer Science
              </td>
              </tr>
            <tr>
              <td>
                Oct. 2022 - ongoing
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">DHBW Mosbach Campus Bad Mergentheim</div>
      <div class="panel-body">
        <table>
          <tbody>
          <tr>
            <td>
              Applied Computer Science, B. Sc.
            </td>
          </tr>
          <tr>
            <td>
              Oct. 2019 - Sept. 2022
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>Bachelor thesis: Development of a data-driven software for monitoring the integrity of critical information using the example of price data monitoring (Written in German)</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default" style="margin-top: 2.5%; margin-left: 18%; margin-right: 18%">
  <div class="panel-heading">School Education</div>
  <div class="panel-body">
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">Alexander-von-Humboldt Gymnasium Schweinfurt</div>
      <div class="panel-body">
        <table>
          <tbody>
          <tr>
            <td>
              High School
            </td>
          </tr>
          <tr>
            <td>
              Sept. 2010 - Jul. 2019
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">Balthasar-Neumann Volksschule Werneck</div>
      <div class="panel-body">
        <table>
          <tbody>
          <tr>
            <td>
              Elementary School
            </td>
          </tr>
          <tr>
            <td>
              Sept. 2006 - Aug. 2010
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
