
<!-- Academic ENGLISH -->
<div class="panel panel-default" style="margin-top: 2.5%; margin-left: 18%; margin-right: 18%" *ngIf="lang === 'en'">
  <div class="panel-heading">Academic Education</div>
  <div class="panel-body">
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">University of Bamberg</div>
      <div class="panel-body">
        <table>
          <tbody>
            <tr>
              <td>
                Applied Computer Science
              </td>
              </tr>
            <tr>
              <td>
                Oct. 2022 - ongoing
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">DHBW Mosbach Campus Bad Mergentheim</div>
      <div class="panel-body">
        <table>
          <tbody>
          <tr>
            <td>
              Applied Computer Science, B. Sc.
            </td>
          </tr>
          <tr>
            <td>
              Oct. 2019 - Sept. 2022
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>Bachelor thesis: Development of a data-driven software for monitoring the integrity of critical information using the example of price data monitoring (Written in German)</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Academic GERMAN -->
<div class="panel panel-default" style="margin-top: 2.5%; margin-left: 18%; margin-right: 18%" *ngIf="lang === 'de'">
  <div class="panel-heading">Akademische Bildung</div>
  <div class="panel-body">
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">Universität Bamberg</div>
      <div class="panel-body">
        <table>
          <tbody>
          <tr>
            <td>
              Angewandte Informatik
            </td>
          </tr>
          <tr>
            <td>
              Oktober 2022 - laufend
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">DHBW Mosbach Campus Bad Mergentheim</div>
      <div class="panel-body">
        <table>
          <tbody>
          <tr>
            <td>
              Angewandte Informatik, B. Sc.
            </td>
          </tr>
          <tr>
            <td>
              Oktober 2019 - September 2022
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>Bachelorarbeit: Entwicklung einer datengetriebenen Software zur Überwachung der Integrität kritischer Informationen am Beispiel einer Preisdatenüberwachung</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- School ENGLISH -->
<div class="panel panel-default" style="margin-top: 2.5%; margin-left: 18%; margin-right: 18%" *ngIf="lang === 'en'">
  <div class="panel-heading">School Education</div>
  <div class="panel-body">
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">Alexander-von-Humboldt Gymnasium Schweinfurt</div>
      <div class="panel-body">
        <table>
          <tbody>
          <tr>
            <td>
              High School
            </td>
          </tr>
          <tr>
            <td>
              Science and Technology Educational direction
            </td>
          </tr>
          <tr>
            <td>
              Sept. 2010 - Jul. 2019
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- School GERMAN -->
<div class="panel panel-default" style="margin-top: 2.5%; margin-left: 18%; margin-right: 18%" *ngIf="lang === 'de'">
  <div class="panel-heading">Schulbildung</div>
  <div class="panel-body">
    <div class="panel panel-default" style="margin-left: 2%; margin-right: 2%">
      <div class="panel-heading">Alexander-von-Humboldt Gymnasium Schweinfurt</div>
      <div class="panel-body">
        <table>
          <tbody>
          <tr>
            <td>
              Abitur
            </td>
          </tr>
          <tr>
            <td>
              naturwissenschaftlich-technologische
              Ausbildungsrichtung
            </td>
          </tr>
          <tr>
            <td>
              September 2010 - Juli 2019
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
