<div class="container-fluid">
<div class="row">
  <div class="col-xs-2">
    <img width="200" src="https://media-exp1.licdn.com/dms/image/D4E03AQEUc6RXoBZ-XA/profile-displayphoto-shrink_200_200/0/1669103092666?e=1674691200&amp;v=beta&amp;t=UDJNjBE9msmC7mbhqPf-H1_b8nV9_xFjcV5x829uv88" height="200" alt="Jan Korb" id="ember833" class="ember-view profile-photo-edit__preview">
  </div>

  <div class="col-xs-6 col-offset-xs-1">
    <div class="panel panel-default" >
      <div class="panel-heading">Jan Korb, B. Sc.</div>
      <div class="panel-body">
        I am an experienced software engineer in the field of backend development. I am specialized in web development
        with PHP and Node.js.
      </div>
    </div>

    <div class="panel panel-default" style="">
      <div class="panel-heading">Links</div>
      <div class="panel-body">
        <a href="https://www.linkedin.com/in/jan-korb/">LinkedIn</a><br>
        <a href="https://github.com/Jan222333444">Github</a>
      </div>
    </div>
  </div>

</div>
</div>
