<div class="container-fluid" *ngIf="lang == 'en'">
  <div class="row">
    <div class="col-xs-2 col-xs-push-1">
      <img width="200"
           src="https://github.com/Jan222333444/Jan222333444.github.io/blob/main/src/assets/profile.jpeg?raw=true"
           height="200" alt="Jan Korb">
    </div>

    <div class="col-xs-8 col-xs-push-1">
      <div class="panel panel-default">
        <div class="panel-heading">Jan Korb, B. Sc.</div>
        <div class="panel-body">
          <p>
            Hello, my name is Jan Korb, and I am a passionate software developer with a focus on backend development.
            I would like to provide you with an overview of my skills, experience, and enthusiasm for this discipline.
          </p>
          <p>
            I have been deeply involved in software development since 2019, with a specific emphasis on the backend
            side of applications and systems. My primary focus is on building robust and efficient backend solutions
            that form the foundation for high-performance and scalable applications.
          </p>
          <p>
            I possess extensive knowledge in various programming languages such as Java, Python, TypeScript and PHP,
            with Java and Python being my preferred languages. Using these languages, I have gained extensive experience
            in developing <strong>RESTful APIs</strong>, integrating databases, implementing authentication and
            authorization, as well as implementing business logic.
          </p>
          <p>
            Furthermore, I am well-versed in various backend frameworks and technologies, such as
            <strong>Spring</strong> (Java),
            <strong>Node.js</strong>(TypeScript) and <strong>Slim</strong>(PHP). I have experience working in agile
            development teams and utilizing tools
            like Git, JIRA, and Docker for version control, task management, and application containerization.
          </p>
          <p>
            I highly value clean and well-structured code, as well as testing to ensure the quality and reliability of
            my solutions. I strive to incorporate best practices and design patterns into my work to develop scalable
            and maintainable systems.
          </p>
          <p>
            In addition to my technical skills, I bring a strong analytical mindset and problem-solving abilities. I am
            capable of understanding complex requirements, translating them into technical solutions, all while
            considering usability and performance.
          </p>
          <p>
            I am a team-oriented developer who collaborates well with others to achieve common goals. I am open to new
            challenges and maintain a continuous learning approach to stay up-to-date with the latest technology trends
            and expand my knowledge.
          </p>
        </div>
      </div>

      <div class="panel panel-default" style="">
        <div class="panel-heading">Links</div>
        <div class="panel-body">
          <p>&nbsp;<a href="https://www.linkedin.com/in/jan-korb/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
                 class="mercado-match" width="24" height="24" focusable="false">
              <path
                d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
            </svg> &nbsp;LinkedIn</a></p>
          <p>
            <a href="https://github.com/Jan222333444" target="_blank"><img
              src="https://docs.github.com/assets/cb-600/images/site/favicon.png" alt="Github"> Github</a>
          </p>
          <p>
            <a href="https://www.get-in-it.de/profil/qAw7cP3bGXKxe02BklTM7mYVc7eAeEJF" target="_blank"> get in IT</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid" *ngIf="lang == 'de'">
  <div class="row">
    <div class="col-xs-2 col-xs-push-1">
      <img width="200"
           src="https://github.com/Jan222333444/Jan222333444.github.io/blob/main/src/assets/profile.jpeg?raw=true"
           height="200" alt="Jan Korb" class="ember-view profile-photo-edit__preview">
    </div>

    <div class="col-xs-8 col-xs-push-1">
      <div class="panel panel-default">
        <div class="panel-heading">Jan Korb, B. Sc.</div>
        <div class="panel-body">
          <p>
            Hallo, mein Name ist Jan Korb, und ich bin ein leidenschaftlicher Softwareentwickler mit einem Fokus auf
            Backend-Entwicklung. Ich möchte Ihnen einen Einblick in meine Fähigkeiten, Erfahrungen und Leidenschaft für
            diese Disziplin geben.<br>
          </p>
          <p>
            Seit 2019 arbeite ich intensiv in der Softwareentwicklung und habe mich speziell auf die Backend-Seite
            von Anwendungen und Systemen konzentriert. Mein Hauptaugenmerk liegt auf der Entwicklung robuster und
            effizienter Backend-Lösungen, die die Grundlage für performante und skalierbare Anwendungen bilden.<br>
          </p>

          <p>
            Ich verfüge über umfangreiche Kenntnisse in verschiedenen Programmiersprachen wie Java, TypeScript, Python
            und PHP, wobei Java und PHP zu meinen bevorzugten Sprachen zählen. Mit diesen Sprachen habe ich umfangreiche
            Erfahrungen in der Entwicklung von RESTful APIs, Datenbankintegration, Authentifizierung und Autorisierung
            sowie der Implementierung von Geschäftslogik gesammelt.<br>
          </p>

          <p>
            Darüber hinaus bin ich mit verschiedenen Backend-Frameworks und Technologien vertraut, wie beispielsweise
            Spring (Java), Node.js(TypeScript) und Slim(PHP). Ich habe Erfahrung mit der Arbeit in agilen
            Entwicklungsteams und dem Einsatz von Tools wie Git, JIRA und Docker zur Versionskontrolle,
            Aufgabenverwaltung und Containerisierung von Anwendungen.<br>
          </p>

          <p>
            Ich lege großen Wert auf sauberen und gut strukturierten Code sowie auf Tests, um die Qualität und
            Zuverlässigkeit meiner Lösungen sicherzustellen. Ich bin immer bestrebt, bewährte Methoden und Designmuster
            in meine Arbeit einzubeziehen, um skalierbare und wartbare Systeme zu entwickeln.<br>
          </p>

          <p>
            Zusätzlich zu meinen technischen Fähigkeiten bringe ich eine starke analytische Denkweise und
            Problemlösungsfähigkeiten mit. Ich bin in der Lage, komplexe Anforderungen zu verstehen, sie in technische
            Lösungen umzusetzen und dabei die Benutzerfreundlichkeit und Performance im Blick zu behalten.
          </p>

          <p>
            Ich bin ein teamorientierter Entwickler, der gut mit anderen zusammenarbeitet, um gemeinsame Ziele zu
            erreichen. Ich bin offen für neue Herausforderungen und habe einen stetigen Lernansatz, um immer auf dem
            neuesten Stand der Technologie zu bleiben und mein Wissen zu erweitern.
          </p>

        </div>
      </div>

      <div class="panel panel-default" style="">
        <div class="panel-heading">Links</div>
        <div class="panel-body">
          <p>&nbsp;<a href="https://www.linkedin.com/in/jan-korb/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
                 class="mercado-match" width="24" height="24" focusable="false">
              <path
                d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
            </svg> &nbsp;LinkedIn</a></p>
          <p>
            <a href="https://github.com/Jan222333444" target="_blank"><img
              src="https://docs.github.com/assets/cb-600/images/site/favicon.png" alt="Github"> Github</a>
          </p>
          <p>
            <a href="https://www.get-in-it.de/profil/qAw7cP3bGXKxe02BklTM7mYVc7eAeEJF" target="_blank"> get in IT</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

