<div class="panel panel-default center-block" *ngIf="lang == 'en'">
  <div class="panel-heading">Contact</div>
  <div class="panel-body">
    <p>
      Hello and welcome to my personal website! If you have any questions, suggestions, or inquiries, I'm here to assist
      you. Here you will find all the information on how to get in touch with me.
    </p>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Email</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          You can send me an email at <strong><a href="mailto:{{email}}">{{email}}</a></strong>. I will make every
          effort to respond to your message as soon as possible. Please provide a clear subject in the email so that I
          can quickly identify your inquiry.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Social Media</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          You can also follow me on my social media channels and get in touch with me there. You can find me on LinkedIn
          under this <a href="https://www.linkedin.com/in/jan-korb/">link</a>.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Contact Form</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          If you prefer, you can also use the contact form to send me a message. Simply fill out the required fields and
          click "Send". I will process your inquiry as soon as possible and respond to you.
        </p>
      </mat-expansion-panel>
    </mat-accordion>


  </div>
</div>

<div *ngIf="lang == 'en'" class="center-block contact-form">
  <div class="panel panel-default text-center" style="margin-top: 2.5%; margin-left: 18%; margin-right: 18%">
    <div class="panel-heading">Contact</div>
    <div class="panel-body">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field class="message-field">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message" required></textarea>
        </mat-form-field>
        <br>
        <p>
          <a routerLink="/data-protection" [queryParams]="{lang: 'de'}">Privacy policy</a>
        </p>
        <button mat-flat-button color="primary" type="submit">Send</button>
      </form>
    </div>
  </div>

</div>


<!--GEMAN Info text -->
<div *ngIf="lang == 'de'" class="center-block">
  <div class="panel panel-default">
    <div class="panel-heading">Kontakt</div>
    <div class="panel-body">
      <p>
        Hallo und herzlich willkommen auf meiner persönlichen Homepage! Wenn Sie Fragen, Anregungen oder Anfragen haben,
        stehe ich Ihnen gerne zur Verfügung. Hier finden Sie alle Informationen, wie Sie mit mir in Kontakt treten
        können.
      </p>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Email</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Sie können mir eine E-Mail an <strong><a href="mailto:{{email}}">{{email}}</a></strong> senden. Ich bemühe
            mich, Ihre Nachricht so schnell wie möglich zu beantworten. Bitte geben Sie im Betreff der E-Mail einen
            aussagekräftigen Betreff an, damit ich Ihre Anfrage schnell identifizieren kann.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Soziale Medien</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Sie können mir auch über meine Social-Media-Kanäle folgen und dort mit mir in Kontakt treten. Sie finden
            mich auf LinkedIn unter diesem <a href="https://www.linkedin.com/in/jan-korb/">Link</a>.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Kontaktformular</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Falls Sie es bevorzugen, können Sie auch das Kontaktformular nutzen, um mir eine Nachricht zu senden. Füllen
            Sie einfach die erforderlichen Felder aus und klicken Sie auf "Senden". Ich werde Ihre Anfrage so schnell
            wie möglich bearbeiten und Ihnen antworten.
          </p>
        </mat-expansion-panel>
      </mat-accordion>


    </div>
  </div>
</div>
<div class="center-block" style="width: 90%">
  <div class="panel panel-default text-center" *ngIf="lang == 'de'">
    <div class="panel-heading">Kontakt-Formular</div>
    <div class="panel-body">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Email Adresse</mat-label>
          <input matInput required type="text">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="message-field">
          <mat-label>Nachricht</mat-label>
          <textarea matInput required></textarea>
        </mat-form-field>
        <br>
        <p>
          <a routerLink="/data-protection" [queryParams]="{lang: 'de'}">Datenschutzerklärung</a>
        </p>
        <button mat-flat-button color="primary" type="submit">Senden</button>
      </form>
    </div>
  </div>
</div>
