<div class="panel panel-default" *ngIf="lang == 'de'">
  <div class="panel-heading text-center">Datenschutzerklärung</div>
  <div class="panel-body">
    <h4 class="text-center">Hosting</h4>
    Unser Hoster erhebt in sog. Logfiles folgende Daten, die Ihr Browser übermittelt: <br><br>

    IP-Adresse, die Adresse der vorher besuchten Website (Referer Anfrage-Header), Datum und Uhrzeit der Anfrage,
    Zeitzonendifferenz zur Greenwich Mean Time, Inhalt der Anforderung, HTTP-Statuscode, übertragene Datenmenge,
    Website, von der die Anforderung kommt und Informationen zu Browser und Betriebssystem.
    <br><br>

    Das ist erforderlich, um unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten. Dies
    entspricht unserem berechtigten Interesse im Sinne des Art. 6 Abs. 1 S. 1 lit. f DSGVO.
    <br><br>

    Es erfolgt kein Tracking und wir haben auf diese Daten keinen direkten Zugriff, sondern erhalten lediglich eine
    anonymisierte, statistische Zusammenfassung. Diese beinhaltet die Adresse der vorher besuchten Seite, die Häufigkeit
    der jeweils aufgerufenen Seiten und die Anzahl eindeutiger Besucher. Diese Daten führen wir nicht mit anderen Daten
    zusammen.
    <br><br>

    Wir setzen für die Zurverfügungstellung unserer Website folgenden Hoster ein:<br>

    <ul>
      <li>Github Inc <br>
        88 Colin P Kelly Jr St <br>
        San Francisco, CA 94107 <br>
        United States
      </li>
    </ul>

    Dieser ist Empfänger Ihrer personenbezogenen Daten. Dies entspricht unserem berechtigten Interesse im Sinne des Art.
    6 Abs. 1 S. 1 lit. f DSGVO, selbst keinen Server in unseren Räumlichkeiten vorhalten zu müssen. Serverstandort ist
    USA.
    <br><br>

    Weitere Informationen zu Widerspruchs- und Beseitigungsmöglichkeiten gegenüber GitHub finden Sie unter:
    <a href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages">
      https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages</a>
    <br><br>

    Sie haben das Recht der Verarbeitung zu widersprechen. Ob der Widerspruch erfolgreich ist, ist im Rahmen einer
    Interessenabwägung zu ermitteln.
    <br><br>

    Die Daten werden gelöscht, sobald der Zweck der Verarbeitung entfällt.
    <br><br>
    Die Verarbeitung der unter diesem Abschnitt angegebenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben.
    Die Funktionsfähigkeit der Website ist ohne die Verarbeitung nicht gewährleistet.
    <br><br>

    GitHub hat Compliance-Maßnahmen für internationale Datenübermittlungen umgesetzt. Diese gelten für alle weltweiten
    Aktivitäten, bei denen GitHub personenbezogene Daten von natürlichen Personen in der EU verarbeitet. Diese Maßnahmen
    basieren auf den EU-Standardvertragsklauseln (SCCs). Weitere Informationen finden Sie unter:
    <a
      href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1–the-standard-contractual-clauses-processors">
      https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1–the-standard-contractual-clauses-processors</a>
    <br><br>

    <h4 class="text-center">Kontaktformular</h4>
    Wir stellen Ihnen ein Kontaktformular zur Verfügung, mit dem wir folgende personenbezogene Daten erheben: <br>
    <ul>
      <li>Name</li>
      <li>E-Mail-Adresse*</li>
    </ul>
    Pflichtangaben sind mit einem * gekennzeichnet. <br>

    Zusätzlich erheben wir: <br>

    <ul>
      <li>Zeitpunkt der Übermittlung</li>
      <li>IP-Adresse</li>
    </ul>
    Die Daten werden ausschließlich zum Zweck der Übermittlung von Anfragen und deren Beantwortung gespeichert. Die
    Pflichtangaben dienen der Zuordnung und der Beantwortung Ihres Anliegen. Dies entspricht unserem berechtigten
    Interesse (Art. 6 Abs. 1 lit f DSGVO).
    <br><br>
    Wir setzen für die Zurverfügungstellung des Formulars folgenden Drittanbieter ein.
    <ul>
      <li>Github Inc <br>
        88 Colin P Kelly Jr St <br>
        San Francisco, CA 94107 <br>
        United States
      </li>
    </ul>

    Sie haben das Recht der Verarbeitung zu widersprechen. Ob der Widerspruch erfolgreich ist, ist im Rahmen einer
    Interessenabwägung zu ermitteln.

    <br><br>

    Ihre Daten werden nach Abschluss der Bearbeitung gelöscht.

  </div>
</div>


<!-- ENGLISH VERSION -->

<div class="panel panel-default" *ngIf="lang == 'en'">
  <div class="panel-heading text-center">Privacy policy</div>
  <div class="panel-body">
    <h4 class="text-center">Hosting</h4>
    Our hoster collects the following data in so-called log files, which your browser transmits: <br><br>

    IP address, the address of the previously visited website (referer request header), date and time of the request,
    time zone difference from Greenwich Mean Time, content of the request, HTTP status code, amount of data transferred,
    website from which the request came, and information about the browser and operating system.
    <br><br>
    This is necessary to display our website and to ensure stability and security. This
    corresponds to our legitimate interest within the meaning of Art. 6 para. 1 p. 1 lit. f GDPR.
    <br><br>

    There is no tracking and we have no direct access to this data, but only receive an anonymized, statistical
    anonymized, statistical summary. This includes the address of the previously visited page, the frequency of the
    of the pages visited and the number of unique visitors. We do not combine this data with other data.
    together.
    <br><br>

    We use the following hoster for the provision of our website:

    <ul>
      <li>Github Inc <br>
        88 Colin P Kelly Jr St <br>
        San Francisco, CA 94107 <br>
        United States
      </li>
    </ul>

    This is the recipient of your personal data. This corresponds to our legitimate interest within the meaning of Art.
    6 para. 1 p. 1 lit. f GDPR, not to have to maintain a server on our premises ourselves. Server location is USA.
    <br><br>

    For more information on opt-out and removal options against GitHub, please visit:
    <a href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages">
      https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages</a>
    <br><br>
    You have the right to object to the processing. Whether the objection is successful, is to be determined in the
    context of a weighing of interests.
    <br><br>

    The data will be deleted as soon as the purpose of the processing ceases to apply.
    <br><br>
    The processing of the data provided under this section is not required by law or contract. The functionality of the
    website is not guaranteed without the processing.
    <br><br>

    GitHub has implemented compliance measures for international data transfers. These apply to all global activities
    where GitHub processes personal data of individuals in the EU. These measures are based on the EU Standard
    Contractual Clauses (SCCs). For more information, please visit:
    <a
      href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1–the-standard-contractual-clauses-processors">
      https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1–the-standard-contractual-clauses-processors</a>
    <br><br>

    <h4 class="text-center">Contact form</h4>

    We provide you with a contact form with which we collect the following personal data:<br>
    <ul>
      <li>Name</li>
      <li>E-Mail-Address*</li>
    </ul>

    Mandatory fields are marked with *.
    <br><br>

    Additionally we collect:
    <ul>
      <li>Time of transmission</li>
      <li>IP-Address</li>
    </ul>
    <br>
    The data is stored solely for the purpose of transmitting requests and responding to them. The
    mandatory data serve the allocation and the answer of your request. This corresponds to our legitimate
    interest (Art. 6 para. 1 lit f GDPR).
    <br><br>

    We use the following third-party provider to make the form available.
    <ul>
      <li>Github Inc <br>
        88 Colin P Kelly Jr St <br>
        San Francisco, CA 94107 <br>
        United States
      </li>
    </ul>
    You have the right to object to the processing. Whether the objection is successful, is to be determined in the context of a
    weighing of interests.
    <br><br>

    Your data will be deleted after processing is completed.

  </div>
</div>
